  
 <br><br>
<table width="100%">
 <tr>
 <td valign="top">
 <form id="countrysearch">
<label> Artist: </label>
<div class="select-style"> 
<select>
    <option value="country1">Bleech</option>
    <option value="country2">United States</option>
    <option value="country3">Worldwide</option>
    <option value="country4">Europe</option>
  </select>
  </div>
  </form>
  </td> 
  <td valign="top">
   <form id="genresearch">
<label> Genre: </label>
<div class="select-style">
 <select>
    <option value="genre1">Pop</option>
    <option value="genre2">Rock</option>
    <option value="genre3">House</option>
    <option value="genre4">Dance</option>
  </select>
  </div> 
   </form>
   </td>
    <td valign="top">
   <form id="typesearch">
<label> Label: </label>
<div class="select-style">
 <select>
    <option value="type1">Bucks Music</option>
    <option value="type2">Producer</option>
    <option value="type3">Songwriter</option> 
  </select>
  </div>
</form>
</td>
<td>
<input type="submit" value="Filter">
</td>
 </tr>
 </table> 
 <br /> <a class="featured" href="articles">Show high priority only</a> <br /> <br /> 
 <br />

    <ul id="articles">
    <% @articles.each do |article| %>
  <% if article.featured == true %>
 
    <li class="featured">  
      <%= link_to article.title, article_path(article) %>
   <span class="location"> <div class="dating"><%= article.available_list %> </div></span>

   <span class="divider"> </span>
   <span class="highpriority"> <div class="dating">High Priority </div></span>
   <div id="clear"></div>

  <div class="moveup"><hr><div class="moveup2"><br />
     <p class="article_main"><%= article.preview %>...  <%= link_to "Read More", article_path(article) %></p>  <br />
       <p class="article_main"><span class="deet">Label: <%= article.label_list %> </span> <br /><span class="deet">Genre: <%= article.genre_list %> </span><br /><span class="deet">Created At: <%= article.created_at.strftime('%A, %-d %B %Y ') %> </span>
       <br /><span class="deet">Deadline: <%= article.dead_line %> </span></p></div>
     </div>    <hr class="below">
    

  </li>
      <% else %>

  <% end %>
  <% end %>
</ul> 
<a href="../" class="myButton"><span>&nbsp;&lt; </span>Back To List</a>
   
 
  
 